<nav class="nav">
  <h1 id="anim"><a routerLink="">E-Comm</a> </h1>
  <div id="anim1" *ngIf="menuType!=='seller'" class="nav-search">
    <input #searchInput class="form-control mr-sm-2" (keyup)="searchProduct($event)" (blur)="hideSearch()" type="search"
      placeholder="Search Products" aria-label="Search" style="border-radius: 25px;">
    <button (click)="submitSearch(searchInput.value)" class="btn btn-outline-success my-2 my-sm-0" type="submit"
      style="border-radius: 30px;">Search</button>
    <ul class="suggested-search" *ngIf="searchResult">
      <li *ngFor="let item of searchResult">
        <a (mousedown)="redirectToDetails(item.id)">{{item.name}}</a>
      </li>
    </ul>
  </div>
  <div [ngSwitch]="menuType">
    <ul *ngSwitchCase="'default'">
      <li><a id="anim1" routerLink="seller-auth">Seller</a></li>
      <li><a id="anim2"  routerLink="">Home</a></li>
      <li><a id="anim3" routerLink="user-auth">Login/Sign-up</a></li>
      <li><a id="anim4" href="#">Cart({{cartItems}})</a></li>
    </ul>
    <ul *ngSwitchCase="'user'">
      <li><a routerLink="seller-auth">Seller</a></li>
      <li><a routerLink="">Home</a></li>
      <li><a>{{userName | titlecase}}</a></li>
      <li><a routerLink="my-orders">My Orders</a></li>
      <li><a (click)="userLogout()">Logout</a></li>

      <li><a [routerLink]="cartItems>0?'cart-page':null">Cart({{cartItems}})</a></li>
    </ul>
    <ul *ngSwitchCase="'seller'">
      <li><a routerLink="seller-add-product">Add Product</a></li>
      <li><a routerLink="seller-home">List</a></li>
      <li><a (click)="logout()">Logout</a></li>
      <li><a href="#">{{sellerName | titlecase}}</a></li>
    </ul>
  </div>
</nav>